{
  "linters": {
    "*.ts": ["npm run tslint -- --fix", "prettier --write", "git add"],
    "*.js": ["eslint --fix", "prettier --write", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
  },
  "ignore": []
}
